@model CreateSupplierViewModel

@{
    ViewData["Title"] = "Register Supplier Juridical";
}
<h2>
    Register Supplier Juridical
</h2>
<br/>
<vc:summary></vc:summary>
<br/>
<br/>

<form asp-action="CreateJuridical" method="post">
    <h3>supplier's status </h3>
      <select asp-for="Active">
        <option value="true">Active</option>
        <option value="false">Deactivated</option>
      </select>
    <br/>
  <div class="mb-3">
    <label asp-for="CompanyName" class="form-label"></label>
    <input asp-for="CompanyName" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.CompanyName, "", new { @class = "text-danger" })
  </div>
  <div class="mb-3">
    <label asp-for="Cnpj" class="form-label"></label>
    <input asp-for="Cnpj" type="number" class="form-control">
    @Html.ValidationMessageFor(model => Model.Cnpj, "", new { @class = "text-danger" })
  </div> 
   <div class="mb-3">
    <label asp-for="OpenDate" class="form-label"></label>
    <input asp-for="OpenDate" type="date" class="form-control">
     @Html.ValidationMessageFor(model => Model.OpenDate, "", new { @class = "text-danger" })
  </div>
  <div class="mb-3">
    <label asp-for="FantasyName" class="form-label"></label>
    <input asp-for="FantasyName" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.FantasyName, "", new { @class = "text-danger" })
  </div>
  <div class="mb-3">
    <label asp-for="Email.EmailAddress" class="form-label"></label>
    <input asp-for="Email.EmailAddress" type="email" class="form-control">
    @Html.ValidationMessageFor(model => Model.Email.EmailAddress, "", new { @class = "text-danger" })
  </div>
  <div class="row" style="gap: 10px;">
    <div >
        <label asp-for="FirstPhone.Ddd" class="form-label"></label>
        <input asp-for="FirstPhone.Ddd" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.FirstPhone.Ddd, "", new { @class = "text-danger" })
        <label asp-for="FirstPhone.Number" class="form-label"></label>
        <input asp-for="FirstPhone.Number" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.FirstPhone.Number, "", new { @class = "text-danger" })
    </div>
     <div>
        <label asp-for="SecondPhone.Ddd" class="form-label"></label>
        <input asp-for="SecondPhone.Ddd" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.SecondPhone.Ddd, "", new { @class = "text-danger" })   
        <label asp-for="SecondPhone.Number" class="form-label"></label>
        <input asp-for="SecondPhone.Number" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.SecondPhone.Number, "", new { @class = "text-danger" })
    </div>
     <div>
        <label asp-for="ThirdPhone.Ddd" class="form-label"></label>
        <input asp-for="ThirdPhone.Ddd" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.ThirdPhone.Ddd, "", new { @class = "text-danger" })    
        <label asp-for="ThirdPhone.Number" class="form-label"></label>
        <input asp-for="ThirdPhone.Number" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.ThirdPhone.Number, "", new { @class = "text-danger" })
    </div>
  </div>
    <div class="mb-3">
    <label asp-for="Address.Street" class="form-label"></label>
    <input asp-for="Address.Street" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.Address.Street, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.Number" class="form-label"></label>
    <input asp-for="Address.Number" type="number" class="form-control">
    @Html.ValidationMessageFor(model => Model.Address.Number, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.Neighborhood" class="form-label"></label>
    <input asp-for="Address.Neighborhood" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.Address.Neighborhood, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.City" class="form-label"></label>
    <input asp-for="Address.City" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.Address.City, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.State" class="form-label"></label>
    <input asp-for="Address.State" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.Address.State, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.ZipCode" class="form-label"></label>
    <input asp-for="Address.ZipCode" type="number" class="form-control">
        @Html.ValidationMessageFor(model => Model.Address.ZipCode, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.Reference" class="form-label"></label>
    <input asp-for="Address.Reference" type="text" class="form-control">
        @Html.ValidationMessageFor(model => Model.Address.Reference, "", new { @class = "text-danger" })
  </div>
    <div class="mb-3">
    <label asp-for="Address.Complement" class="form-label"></label>
    <input asp-for="Address.Complement" type="text" class="form-control">
    @Html.ValidationMessageFor(model => Model.Address.Complement, "", new { @class = "text-danger" })
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>


@section Scripts{
    @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}