@model IEnumerable<SupplierListViewModel>

@{
    ViewData["Title"] = "Supplier";
}

<div class="text">
    <h1 class="display-4">Supplier</h1>
</div>
<div>
    <a asp-action="CreatePhysical" asp-controller="Supplier" class="btn btn-primary">New Supplier Physical</a>
    <a asp-action="CreateJuridical"  asp-controller="Supplier" class="btn btn-primary">New Supplier Juridical</a>
</div>
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Fantasy Name</th>
      <th scope="col">Full Name/Company Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phones</th>
      <th scope="col">CPF/CNPJ</th>
    </tr>
  </thead>
  <tbody>
    @if(Model != null)
     @foreach (var item in Model)
    {
        <tr>
            <td>
                @if(item.Active){
                    <p>Active</p>
                }else{
                    <p>deactivated</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FantasyName)
            </td>
            <td>
                @if(item.FullName != null){
                    <p>@item.FullName</p>
                }else{
                    <p>@item.CompanyName</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email.EmailAddress)
            </td>
            <td>
                @foreach (var phones in item.Phone)
                {
                    <p>(@phones.Ddd) - @phones.Number</p>
                }
            </td>
            <td>
                @if(item.Cnpj != null){
                    <p>@item.Cnpj</p>
                }else{
                    <p>@item.Cpf</p>
                }
            </td>
        </tr>
    }
  </tbody>
</table>