@model ProductDeleteViewModel

@{
    ViewData["Title"] = "Delete Product";
}

<h2>
    Delete Product 
</h2>
<p>do you really want to delete this Product?</p>
<br/>
<vc:summary></vc:summary>
<br/>
<br/>

<form asp-action="DeleteConfirmed" method="post">
  <div class="row" style="gap: 10px;">
    <div >
        <input asp-for="@Model.Id" type="text" hidden readonly>
        <label asp-for="@Model.Active" class="form-label"></label>
        <input asp-for="@Model.Active" type="text" class="form-control" readonly >
        <label asp-for="@Model.Name" class="form-label" ></label>
        <input asp-for="@Model.Name" type="text" class="form-control" readonly >
        <label asp-for="@Model.BarCode" class="form-label" ></label>
        <input asp-for="@Model.BarCode" type="text" class="form-control" readonly >
        <label asp-for="@Model.QuantityStock" class="form-label" ></label>
        <input asp-for="@Model.QuantityStock" type="text" class="form-control" readonly >
        <label asp-for="@Model.PriceSales" class="form-label" ></label>
        <input asp-for="@Model.PriceSales" type="text" class="form-control" readonly >
        <label asp-for="@Model.PricePurchase" class="form-label" ></label>
        <input asp-for="@Model.PricePurchase" type="text" class="form-control" readonly >
    </div>
  </div>
  <br/>
  <br/>
  <div style="display: flex; justify-content: center; align-items: center;">
    <button type="submit" class="btn btn-primary">Delete</button>
  </div>
 
</form>